##### 1. 라이브러리 import
- pandas
- numpy
- seaborn

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

##### 2. Titanic csv 데이터 불러오기 & 살펴보기
- Survived - 생존유무, target 값. (0 = 사망, 1 = 생존)
- Name - 탑승객 성명
- Pclass - 티켓 클래스. (1 = 1st, 2 = 2nd, 3 = 3rd)*
- Sex - 성별
- Age - 나이(세)
- SibSp - 함께 탑승한 형제자매, 배우자 수 총합
- Parch - 함께 탑승한 부모, 자녀 수 총합
- Embarked - 탑승 항구
- Fare - 탑승 요금
- Ticket - 티켓 넘버
- Cabin - 객실 넘버

In [4]:
train = pd.read_csv("C:\\Users\\82109\\OneDrive\\문서\\GitHub\\Titanic-Data-Analysis\\titanic\\train.csv")
test = pd.read_csv("C:\\Users\\82109\\OneDrive\\문서\\GitHub\\Titanic-Data-Analysis\\titanic\\test.csv")
submission = pd.read_csv("C:\\Users\\82109\\OneDrive\\문서\\GitHub\\Titanic-Data-Analysis\\titanic\gender_submission.csv")

In [5]:
print(f"train head: {train.head()}")
print(f"train tail: {train.tail()}")
# >> Age, Cabin column의 결측지 존재 확인

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [6]:
test.head()
print(f"test head: {test.head()}")
print(f"test tail: {test.tail()}")
# >> cabin column의 결측지 존재 확인

test head:    PassengerId  Pclass                                          Name     Sex
0          892       3                              Kelly, Mr. James    male  \
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S
test tail:      PassengerId  Pclass                          Name     Sex   Age  SibSp
413         1305       3            Spector, Mr. Woolf    male   NaN      0  \
414         1306       1  Oliva y Ocana, Dona. Fermina  female  39.0      0
415         1307       3  Saether, Mr. Simon Sivertsen    male  38.5      0
416         1308       3           Ware, Mr. Frederick    male   NaN      0
417         1309       3      Peter, Master. Michael J    male   NaN      1

     Parch              Ticket      Fare Cabin Embarked
413      0           A.5. 3236    8.0500   NaN        S
414      0            PC 17758  108.9000  C105        C
415      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416      0              359309    8.0500   NaN        S
417      1                2668   22.3583   NaN        C

In [ ]:
submission.head()

In [13]:
print(f"train data: {train.shape}")
print(f"test data: {test.shape}")
print(f"submission data: {submission.shape}")

train data: (891, 12)
test data: (418, 11)
submission data: (418, 2)

결국 Survived column 생존 여부를 예측하는 것이 목표이다.

##### 3. 결측치 확인

In [ ]:
print(f"##### train data: #####\n {train.isnull().sum()}")

print("\n ############### \n")

print(f"##### test data: #####\n {test.isnull().sum()}")

* train: Age (177), Cabin (687) column 결측치 확인
* test: Age (86), Fare (1), Cabin (327) column 결측치 확인